<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Guess the Picture</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body {
      margin: 0;
    }
    button {
      display: block;
      width: 50%;
      padding: 20px;
      margin: 20px auto;
    }
  </style>
</head>
<body>
<button id="start">Start</button>
<button id="correct">Correct</button>
<button id="wrong">Wrong</button>
<button id="next">Next</button>
<script>
var ws = new WebSocket('{{.}}');
ws.onopen = function(e) {
	console.log('OPEN');
}
ws.onclose = function(e) {
	console.log('CLOSE');
	ws = null;
}
ws.onmessage = function(e) {
	console.log('RESPONSE: ' + e.data);
}
ws.onerror = function(e) {
	console.log('ERROR: ' + e.data);
}

var buttons = document.getElementsByTagName('button');
for (var i=0; i<buttons.length; i++) {
  buttons[i].onclick = function(e) {
    if (!ws) {
      alert('Not connected');
      return;
    }
    ws.send('_CONTROL ' + this.id);
  }
}

</script>
</body>
</html>
